<html>
<head></head>
<body>
     <ul>
<li>Favada</li>
<ul>
<p style= background:#000000; color :#ffffff;>”en honor a nuestros queridos asturianos”</p>
</ul>
</body>
</html>


<p style= background:#000000; color 

<p>
  Usemos:
  <span>Upgrade</span>
  <span>CSS</span>
  <span>Nivelación</span>
</p>
